<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ctrl.device.name}}">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
          <h6><label>Address: {{ctrl.device.address}}</label></h6>
          <h6><label>Id: {{ctrl.device.id}}</label></h6>
          <h6><label>Class: {{ctrl.device.class}}</label></h6>
      </div>
    </div>
  
    <div class="card" ng-show="!ctrl.isConnected">
      <div class="item item-text-wrap">
           <div class="col text-center" >
            <button ng-click="ctrl.Connect(true)" class="button button-positive">Connect secure</button>
            <button ng-click="ctrl.Connect(false)" class="button button-positive padding-horizontaly">Connect insecure</button>
        </div>
      </div>
    </div>

    <div class="card" ng-show="ctrl.isConnected">
      <div class="item item-text-wrap">
          <div>
            <!-- selectorul de timp -->
            <timepicker ng-model="ctrl.selectedTime" 
                      ng-change="ctrl.UpdateSendState()" 
                      minute-step="5" show-meridian="false"></timepicker>
          </div>
          <!-- selectorul de temperatura -->
          <div class="btn-group padding">
              <label class="btn btn-success" ng-model="ctrl.selectedTemperature" btn-radio="'1'">Low</label>
              <label class="btn btn-success" ng-model="ctrl.selectedTemperature" btn-radio="'2'">Medium</label>
              <label class="btn btn-success" ng-model="ctrl.selectedTemperature" btn-radio="'3'">High</label>
          </div>
          <div>
            <!-- butonul care trimite mesajul catre device -->
            <button class="button button-positive" 
                  ng-click="ctrl.SendMessage()"
                  ng-disable="!ctrl.isDateValid">Set device</button>
          </div>
        </div>
    </div>

    <ion-list class="padding-top">
  		<ion-item ng-repeat="message in ctrl.messages">
  			<div ng-class="ctrl.GetMessageClass(message)">{{message.text}}</div><div>{{message.status}}</div>
  		</ion-item>
  	</ion-list>


  </ion-content>
</ion-view>
