<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ctrl.device.name}}">
  <ion-content>
    <div class="card" 
          ng-show="UI.infoVisible">
      <div class="item item-text-wrap">
          <h6><label>Address: {{ctrl.device.address}}</label></h6>
          <h6><label>Id: {{ctrl.device.id}}</label></h6>
          <h6><label>Class: {{ctrl.device.class}}</label></h6>
      </div>
    </div>
    <div class="text-center">
       <img src="img/logo.png" width="256" height="256" />
    </div>
    <div class="card" ng-show="!ctrl.isConnected">
      <div class="item item-text-wrap">
        <div class="col text-center" >
            <button ng-click="ctrl.Connect(true)" class="button button-positive">Connect secure</button>
            <button ng-click="ctrl.Connect(false)" class="button button-positive padding-horizontaly">Connect insecure</button>
        </div>
      </div>
    </div>

    <div class="card" ng-show="ctrl.isConnected">
      <!-- selectorul de timp  -->
      <div class="input-group text-center" style="margin-bottom:5px;">
        <label for="temp">Start warming the butter over:</label>
        <input type="time" 
              id="temp"
              ng-model="ctrl.selectedTime" 
              ng-change="ctrl.UpdateSendState()"
              class="form-control time" />
      
       <!--  <timepicker ng-model="ctrl.selectedTime" 
                  ng-change="ctrl.UpdateSendState()" 
                  minute-step="5" show-meridian="false"></timepicker>  -->
      </div>
      <!-- selectorul de temperatura -->
      <div class="col text-center">
        <button ng-class="ctrl.GetTemperatureClass(1)" 
                ng-click="ctrl.SendMessage(1)"
                ng-disable="!ctrl.isDateValid">
          <img src="img/low.png" width="32" height="32" />Low
        </button>
        <button ng-class="ctrl.GetTemperatureClass(2)" 
                ng-click="ctrl.SendMessage(2)"
                ng-disable="!ctrl.isDateValid">
          <img src="img/med.png" width="32" height="32"/>Medium
        </button>

        <button ng-class="ctrl.GetTemperatureClass(3)" 
                ng-click="ctrl.SendMessage(3)"
                ng-disable="!ctrl.isDateValid">
          <img src="img/hig.png" width="32" height="32"/>High
        </button>
      </div>


    </div>
    <div class="card" ng-show="ctrl.isConnected">
      Status: <embossed>{{ctrl.deviceStatus}}</embossed>
    </div>
    <ion-list class="padding-top" ng-show="UI.infoVisible">
  		<ion-item ng-repeat="message in ctrl.messages">
  			<div ng-class="ctrl.GetMessageClass(message)">{{message.text}}</div><div>{{message.status}}</div>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
