<ion-view view-title="Bluetooth Devices">
  
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <button ng-click="RefreshDevicesList()" class="button button-positive">Search again</button>
            </div>
        </div>
     
        <ion-list>
            <div class="item item-divider">Detected nearby paired bluetooth devices:</div>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="device in pairedDevicesList" type="item-text-wrap" href="#/tab/blueDeviceChat/{{device.id}}">
                <h2>{{device.name}}</h2>
                <h4>{{device.address}}</h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
         <ion-list>
            <div class="item item-divider">Detected nearby unpaired bluetooth devices:</div>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="device in unpairedDevicesList" type="item-text-wrap" href="#/tab/blueDeviceChat/{{device.id}}">
                <h2>{{device.name}}</h2>
                <h4>{{device.address}}</h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
   
    </ion-content>
</ion-view>
